html {
  scroll-behavior: smooth; /* Rolagem suave */
}

/* Corpo da página */
body {
  background-color: rgb(34, 34, 34);
  font-family: "Inter", sans-serif;
  color: lightgray;
}

header {
  padding: auto;
}

/* Botões superiores */
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 10px;
}

a {
  color: lightgray;
  text-decoration: none;
}

footer {

}