html {
  scroll-behavior: smooth; /* Rolagem suave */
}

/* Corpo da página */
body {
  background-color: rgb(34, 34, 34);
  font-family: "Inter", sans-serif;
  color: lightgray;
}

/* Botões superiores */
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 10px;
}

a {
  color: lightgray;
  text-decoration: none;
}

nav a:hover {
  color: chocolate;
}

/* Ajustes da foto */
header img {
  width: 170px;
  height: 200px;
  border-radius: 25%;
  border: 5px solid chocolate; 
}

/* Caixa de texto lateral */
.container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 20px 0px;
}

/* Caixa interior */
.box {
  padding: 10px;
}

/* Links inferiores */
footer img {
  width: 50px;
  height: 50px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  text-align: center;
}

footer a {
  text-align: center;
}

footer p {
  margin-top: 2px;
  text-align: center;
}

/* Linha */
hr {
  border: 0;
  height: 2px;
  background-color: chocolate;
}

/* Textos */
p {
  text-align: justify;
}

.block {
    margin: 0px 5px;
  }

@media screen and (min-width: 768px) {
  .block {
    margin: 0px 20px;
  }
}